<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="c2kxr.host">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Login Activity -->
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppThemeNoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Main Activity -->
        <activity
            android:name=".activities.MainActivity"
            android:label="Main Activity" />
        <!-- Register Activity -->
        <activity
            android:name=".activities.RegistrationActivity"
            android:label="Register" />
        <!-- Organizer Dashboard Activity -->
        <activity
            android:name=".activities.OrganizerDashboardActivity"
            android:label="Organizer Dashboard" />
        <!-- Provider Dashboard Activity -->
        <activity
            android:name=".activities.ProviderDashboardActivity"
            android:label="Provider Dashboard" />
        <!-- Add Event Activity -->
        <activity
            android:name=".activities.AddEventActivity"
            android:label="Host Event" />
        <!-- Organizer Event List Activity -->
        <activity
            android:name=".OrganizerEventListActivity"
            android:label="My Events"></activity>
    </application>

</manifest>